<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- start rviz -->
  <arg name="rviz_config" value="-d $(find baxter_barcode_pickup)/launch/camera_view.rviz" />
  
  <node name="moveit_rviz" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
  	args="$(arg rviz_config)" output="screen">
    <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>
